#homepage-heading {
    font-family: cursive;
    font-size: 24px;
    background-color: #706a8b;
    color: white;
    text-align: justify;
    padding: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#project-list {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 30%30%30%;
    column-gap: 30px;
    row-gap: 20px;
}


/*Media query for Homepage*/
@media only screen and (max-width: 767px) {
    #homepage-heading {
        font-size: small;
    }

    #project-list {
        display: block;

    }

}

