#homepage-heading {
    font-family: cursive;
    font-size: medium;
    color: black;
    text-align: justify;
    padding: 36px;
}

#project-list {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 30%30%30%;
    column-gap: 10px;
    row-gap: 10px;
}

