#project-page-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-shadow: 0px 0px 10px rgb(137, 114, 250);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    flex-flow: column wrap;
    min-height: 300px;
    /*padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;*/
    padding: 50px 100px;
    margin: 100px;
    /*border-style:solid;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-color:blue;*/
    border-radius: 20px;

}

#project-page-container button {
    font-weight: bold;
    color: blueviolet;
    border: 3px solid blueviolet;
    background-color: white;
    margin-top: 10px;
    padding: 10px 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;    
}

#project-page-container button:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

#project-page-container a:hover {
    background-color: initial;
}

#project-page-container ul li button {
    padding: 0 6px;
}


  /*Media query for Project page*/
  @media only screen and (max-width: 767px) {
    #project-page-container {
      margin: 0;
      margin-top: 40px;
      padding: 10px;
    }

    #project-page-container h2 {
        font-size: medium;
    }

    #project-page-container h3 {
        font-size: small;
    }

    #project-page-container li {
        font-size: small;
    }

    #project-management-container button {
        padding: 4px 10px;
        font-size: small;
    }



  }