#header-container {
    background-color: #706a8b;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
}

#header-container img {
    height: 150px;
}