#login-form-container{
    text-align: center;
    padding: 100px 160px;
    width: 80%;
}

#login-form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    /*border-style:solid;
    border-radius: 5px;
    border-color:blue;
    background-color:blanchedalmond;
    margin: 100px 400px;*/
    box-shadow: 0px 0px 10px rgb(137, 114, 250);
    padding: 50px 0;
    border-radius: 20px;
}

#login-form label {
    font-weight: bold;
    margin-right: 5px;
}

#login-form div {
    margin-top: 16px;
    margin-bottom: 16px;
}

#login-form input {
    border-radius: 5px;
    height: 24px;
    border: 1px solid blue;
    box-shadow: 0px 0px 5px gray;
}

#login-button {
    font-weight: bold;
    color: blueviolet;
    border: 3px solid blueviolet;
    background-color: white;
    /*box-sizing: border-box;*/
    margin-top: 10px;
    padding: 10px 8px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    box-shadow: 0px 0px 5px gray;
    
}

#login-button:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

/*Media query for Login form*/
@media only screen and (max-width: 767px) {

    #login-form-container {
        margin: 0;
        margin-top: 40px;
        padding: 0;
        width: 100%;
    }

    #login-form {
        padding: 20px;
    }

    #login-form-container button {
        padding: 4px 10px;
        font-size: small;
        margin: 0 35%;
        white-space: nowrap;
    }
    
}
