/*NavBar style*/
.menu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: medium;
    margin-top: 20px;
}

.menu li {
    list-style: none;
}


/* Style for the header nav links*/

header nav {
    display: flex;
    color: #ECEDFE;
    justify-content: space-evenly;
    flex-direction: row;
}

/* Default style of general <a> tag*/
a {
    font-family:cursive;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 3px;
    color:black ;
    padding-left: 4px;
    padding-right: 4px;
}

/* Default style for mouse pointer on the <a> element*/
a:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: white;
    border-radius: 6px;

}

a:active {
    color: blue;
}

/*Media query for NavBar*/
@media only screen and (max-width: 767px) {
    .menu a {
        font-size: small;
    }
}

