#project-form {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    align-items: stretch;
    justify-content: space-evenly;
    flex-flow: column wrap;
    min-height: 300px;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    

}

#project-form textarea {
    border-radius: 5px;
    font-family: inherit;
    height: 64px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray;
}

#project-form input {
    border-radius: 5px;
    height: 24px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray;
}

#project-form button {
    font-weight: bold;
    margin-left: 200px;
    margin-right: 200px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray;
}